@{
    ViewBag.Title = "Home Page";
}


        <h2>WELCOME TO THE GRAND CIRCUS COFFEE HOUSE APP</h2>
        <p>
            Here is everything you need for registration.
        </p>


    <form action="Success">
        First name:<br>
        <input type="text" name="FirstName" value="">
        <br>
        Email:
        <input type="text" name="Email" value="">
        <br><br>
        <input type="submit" value="Submit">
    </form>


    