
@{
    ViewBag.Title = "RegisterView";
}

<h2>RegisterView</h2>

<form name="Reg" action="Success" method="get">
    <p><em>Name:</em></p>
    <input type="text" name="FirstName" />

    <p><em>Email:</em></p>
    <input type="text" name="Email" />

    <input type="submit" name="submit" value="Submit">
</form>



