
@{
    ViewBag.Title = "RegisterView";
}

<h2>RegisterView</h2>

<form name="Reg" action="Success" method="get">
    <p><em>First Name:</em></p>
    <input type="text" name="FirstName" />

    <p><em>Last Name:</em></p>
    <input type="text" name="LastName" />

    <p><em>Email:</em></p>
    <input type="text" name="Email" />

    <p><em>Coffee:</em></p>
    <input type="radio" name="Coffee" />

    <p><em>Tea:</em></p>
    <input type="radio" name="Tea" />

    <p><em>Bakery:</em></p>
    <input type="radio" name="Bakery" />

    <input type="submit" name="submit" value="Submit">

</form>



